.bg {
  margin: 20px;
  background: #cbcbcb;
  width: 200px;
  height: 60px;
  border-radius: 15px;
  box-shadow: inset 0px 0px 1px 1.5px white, 0px 0px 1px 1.2px #5a5a5a;
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  width: 180px;
  height: 45px;
  font-weight: bolder;
  font-size: 18px;
  background: #b6b6b6;
  padding: 10px;
  border-radius: 10px;
  color: #555555;
  border: 0;
  box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.5),
    inset 0px 22.5px 8px 0px #dfdfdf;
  outline: none;
  transition: all 0.1s ease-in-out;
}

button:active {
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0), inset 0px 0px 0px 0px #dfdfdf;
  border: 1px solid #dfdfdf;
}

span {
  color: #888888;
}
